/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    box-sizing: border-box;
}

/** tags selectors */

a {
    text-decoration: none;
}

body {
    padding-top: 60px;
    font-family: sans-serif;
}


/** los selectores de clase respetando en lo que pueda la estrctura HTML */

/** ---------------- NAVBAR ---------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar__logo {
    width: 200px;
}

.navbar__links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navbar__links a {
    color: #1A1A1A;
}

/** HERO section */
.hero {
    height: 60vh;
    background: black url('../images/landing.jpg') no-repeat center bottom  / cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero > div {
    width: 60%;
    text-align: center;
}


.hero__title {
    font-size: 3rem;
}

.hero__description {
    font-size: 2rem;
}

/** SECTION FEATURES **/

.spotify {
    margin: 2rem 0;
}

.spotify__title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}

.features article {
    flex: 1 0 0;
    max-width: 250px;
    padding-top: 60px;

}

.features article h3 {
    color: #00B172;
}

.features p {
    color: #1A1A1A;
}

.features__songs{
    background: white url("../images/music-icon.png") no-repeat center top / 75px;
}

.features__music {
    background: white url("../images/high-quality-icon.png") no-repeat center top / 75px;
}
.features__stream {
    background: white url("../images/devices-icon.png") no-repeat center top / 75px;
}

.actions {
    color: white;
    background-color: #00B172;
    padding: 3rem;
    background: #00B172 url("../images/spotify-app.jpg") no-repeat 90% center / 200px;
    position: relative;
}

.actions__title {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;

}

.actions > article {
    margin-top: 3rem;
    width: 50%;
    max-width: 300px;
}

.spotify-icon {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/** MEDIA QUERY */

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .spotify-icon {
        display: none;
    }
}


